*{
  margin: 0;
  padding: 0;
}

.App{
  display: flex;
}
.sideBar{
  height: 100vh;
  border: 2px solid red;
  background-color: cadetblue;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-right: 35px;
  padding-left: 35px;
}
.sideBarNavigation{
  display: flex;
  justify-content: space-evenly;
}

.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: darkcyan;
  flex: 3;
}